<div class="hero">
	<div class="container margin-sm">
		<%= image_tag 'brand.png' %>
		<h2>Manufacturing Excellence by Design</h2>
	</div>
</div>

<div class="u-header">
	<div class="container">
		<h1>Serving Northern California since 1974, our clients have come to rely upon our quality products and services for all their HVAC system needs.</h1>
	</div>
</div>

<div class="margin-sm l-bullets">
	<div class="container">
		<div class="row margin-sm u-text-center">
			<h5 class="title">Fabrication Facilities Production Capabilities:</h5>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<%= image_tag 'sheet-metal.png' %>
				<h5>Sheet Metal</h5>
				<ul>
					<li>Coil Line Rectangular Duct</li>
					<li>Rectangular Fittings</li>
					<li>Round &amp; Oval Fittings</li>
					<li>Spiral Duct Cut to Length</li>
					<li>Roof Top Curbs</li>
					<li>Welded Duct &amp; Curbs</li>
					<li>Architectural Sheet Metal</li>
					<li>Plenum Walls</li>
					<li>Louvers</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4">
				<%= image_tag 'piping.png' %>
				<h5>Piping</h5>
				<ul>
					<li>Coil Piping Assembles</li>
					<li>Pre-Piped Chiller Skids</li>
					<li>Pre-Piped Boiler Skids</li>
					<li>Certified Welding</li>
					<li>High Purity Orbital Welding</li>
					<li>Grooved Piping Systems</li>
					<li>Pre-Piped Cooling Tower Systems</li>
					<li>Fabricated Steam Systems</li>
					<li>Pumping Systems</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4">
				<%= image_tag 'plumbing.png' %>
				<h5>Plumbing</h5>
				<ul>
					<li>Fabricated Plumbing Wall Systems</li>
					<li>Pre-Piped W/C Carrier Banks</li>
					<li>Pre-Fab Plumbing Fixtures &amp; Trim</li>
					<li>Copper, Steel, Cast Iron - Piping Cuts to Length</li>
					<li>Welding, Brazing, &amp; Grooving Process</li>
					<li>Process Piping Systems</li>
					<li>Fabricated Food Grade Systems</li>
					<li>Hanger Systems &amp; Assembles</li>
					<li>Fuel Oil Systems</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="u-header">
	<div class="container">
		<h2>Let us showcase our ability to fulfill your next mechanical project needs.</h2>
	</div>
</div>

<div class="l-steps">
	<div class="container">
		<div class="row">
		  <div class="row-md-height">
		    <div class="col-xs-12 col-md-6 col-md-height col-md-middle">
		      <div class="inside">
		      	<%= image_tag '1.png' %>
		      </div>
		    </div>
		    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-height col-md-middle">
		      <div class="inside">
		      	<h3>Professional Quality.</h3>
		      	<p>
		      		AMI Manufacturing is supported by quality workmanship, and keen knowledge of mechanical, piping systems, within an 110,000 sq ft manufacturing facility, that houses machinery and methods unparalleled in our region.
		      	</p>
		      </div>
		    </div>
		  </div>
		</div> 
		<div class="row">
		  <div class="row-md-height">
		    <div class="col-xs-12 col-md-6 col-md-height col-md-middle">
		      <div class="inside">
		      	<%= image_tag '2.png' %>
		      </div>
		    </div>
		    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-height col-md-middle">
		      <div class="inside">
		      	<h3>Customer Satisfaction</h3>
		      	<p>
		      		We strive to accommodate our clients large or small, providing superior fabricated products delivered on time, within budget.
		      	</p>
		      </div>
		    </div>
		  </div>
		</div> 
		<div class="row">
		  <div class="row-md-height">
		    <div class="col-xs-12 col-md-6 col-md-height col-md-middle">
		      <div class="inside">
		      	<%= image_tag '3.png' %>
		      </div>
		    </div>
		    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-height col-md-middle">
		      <div class="inside">
		      	<h3>Experts in Transportation.</h3>
		      	<p>
		      		We have built significant capabilities to serve the transit industry.  Our transit work includes major bus overhauls as well as the manufacturing of custom mobile HVAC systems for use in extreme environments and ambient conditions.
		      	</p>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>

<div class="u-header">
	<div class="container">
		<h2>For more information</h2>
	</div>
</div>

<div class="l-cta">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<p>
					Call
				</p>
				<h4>
					(916) 381-4523
				</h4>
				<p>
					or email
				</p>
				<h4>
					<a href="mailto:contact@ami-manufacturing.com">contact@ami-manufacturing.com</a>
				</h4>
				<p class="address">
					8210 Demetre Ave • Sacramento Ca 95828
				</p>
			</div>
		</div>
	</div>
</div>